.navbarcol {
  background: url(./images/mail-last.png) center center no-repeat;
  /* background: url(./images/writing-pad.jpg) center center no-repeat; */
  /* background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-body-col {
  background: url(./images/purse.jpg) center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarheader,
.navbarHome,
.navbarSendMail,
.navbarDeleteMail {
  height: 180px;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.titlefont {
  font-weight: bold;
  font-size: 30px;
  /* color: rgb(216, 81, 104); */
  color: #198754;
}

.sendEmailformdiv,
.deleteMessageformdiv {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(1px);
  background: inherit;
  width: 70%;
}

.sendMailFom,
.deleteMessageForm {
  width: 80%;
}

.errormessage {
  color: red;
}

.messagedescription {
  color: green;
}

@media (min-width: 768px) and (max-width: 992px) {
  .sendEmailformdiv,
  .deleteMessageformdiv {
    width: 80%;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .sendEmailformdiv {
    width: 100%;
  }

  .sendMailFom,
  .deleteMessageForm {
    width: 100%;
  }
}
